$basic: black;
$colored: rgb(159, 170, 255);
$darker: rgb(120, 132, 227);
$light: white;
$light-bs:rgb(240, 240, 240);
$grey:rgb(97, 95, 103);
$warning: rgb(223, 34, 34);
$check:rgb(12, 186, 12);